header {
  height: 100vh;
}

.jumbotron {
  color:white;
  /*background: linear-gradient(to right,#160d2b , #6C56A7);*/
  background-color:transparent;
  
}

.my-4 {
  background-color: white;
}

.btn {
  background-color: WHITE;
  color:#014E59;
  border: 1px solid white;
}

section {
  height: 100vh;
}

.skills,.contact {
 
  background: linear-gradient(to right,#130040 , #8c2e9a);
  
  color: white;
}

header{
  background-image: url(../assets/images/fondonubes.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}