.primerbloque {
background-image: url(../assets/images/playa.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
color: white;
}
.navbar-light .navbar-nav .nav-link{
  color:white;
  font-size: 20px;
  margin-top: 20px;
}
.fondo {
  background-color: #622C64;
  opacity: 0.9;
  height: 100vh;
  color: white;
}

.title {
  transform: translate(30%,30%);
  width: 60%;
}

.title h1 {
  margin-bottom: 25px;
  font-size: 50px;
}

.title p {
  line-height: 2;
  margin-bottom: 120px;
  font-family: 'Raleway', sans-serif;
}

.title a {
  font-family: 'Raleway', sans-serif;
  padding: 15px;
  border: 2px solid white;
  border-radius: 5px;
}

.portfolio {
background: white;
width: 100%;
height: 100vh;
text-align: center;
color: black;
margin: 0px;
}


.portfolio h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
}

.skills {
background-image: url(../assets/images/skills.jpeg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 50vh;
text-align: center;
color: white;
margin: 0px;
font-family: 'Raleway', sans-serif;
}

.titleSkills {
  background-color: #648E35;
  opacity: 0.9;
  height: 50vh;
}

.titleSkills h1 {
  font-size: 50px;
  padding-top: 5%;
}






footer{
  background: #706d6d;
  height: 50px;
  text-align: center;
}

/* nuevos estilos
